@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind customisation */

@layer base {
  body {
    @apply bg-neutral-200 font-semibold text-xl;
  }

    h1 {
      @apply text-2xl text-green-500 font-bold;
    }

    h2 {
        @apply text-xl font-bold;
      }

    button {
        @apply  py-2 px-4 rounded bg-green-400 text-white hover:bg-green-500;
    }
  }

/* dynamic screen size */
  
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}

/* animations */

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
}

.flip-exit-done {
  transform: rotateY(180deg);

}

.shake-exit {
  transform: translateX(0%);
}

.shake-exit-active {
  animation: shake 300ms infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}